// @import '~src/styles/rem.scss';

.list-box {
  // position: absolute;
  // z-index: 1;
  // bottom: 40px;
  // left: 0;

  display: flex;
  justify-content: flex-start;
  // width: 100%;
  // padding: 30px;
  padding-bottom: 30px;
  .item {
    width: 200px;
    border-radius: 2px;
    border: 2px solid #FFFFFF;
    padding: 0 8px;
    box-sizing: border-box;
    cursor: pointer;
    img {
      width: 100%;
    }
    &.active {
      border: 2px solid #222222;
    }
  }
}
.picture-compare-section {
  position: relative;
  text-align: center;
  &.showDescription {
    margin-top: 200px;
    .title {
      display: block;
    }
  }
  .commonText {
    position: absolute;
    text-align: center;
    z-index: 1;
    line-height: 20px;
    font-size: 14px;
    top: 10%;
    width: 30px;
    height: 20px;
    &.oriText {
      transform: translateX(-30px);
      background-color: #fff;
      border-radius: 4px 0 0 4px;
      color: #000;
    }
    &.newText {
      border-radius: 0px 4px 4px 0px;
      background-color: #000;
      color: #fff;
    }
  }
  .image-lazy-load {
    opacity: 0;
  }
  .title {
    position: absolute;
    // z-index: 1000;
    display: none;
    top: -150px;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
    color: #000;
    letter-spacing: 2px;
    .sub {
      font-weight: 400;
      margin-top: 24px;
      font-size: 0.5rem;
      font-weight: 100;
      color: #222222;
      line-height: 32px;
      letter-spacing: 2px;
    }
  }
  .picture-box {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    left: 50%;
    transform: translateX(-50%);
  }
  .original-image {
  }
}

.picture-compare-box {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  cursor: move;
  img {
    vertical-align: middle;
  }
  .picture-wrap {
    cursor: move;
    display: block;
    overflow: hidden;
    position: relative;
    height: 100%;
    width: 100%;
    float: left;
    .original-image {
      overflow: hidden;
      position: absolute;
      top: 0;
      left: 50%;
      margin-left: -50%;
      z-index: 3;
      width: 50%;
      height: 100%;
      // transition: width 2ms ease;
      border-right: 1px solid #000;
      img {
        height: 100%;
      }
    }
    .new-image {
      position: absolute;
      top: 0;
      left: 50%;
      margin-left: -50%;
      z-index: 2;
      width: 100%;
    }
  }
}
