.custom-tabs {
  font-size: 14px;
  overflow: hidden;
  li {
    float: left;
    padding: 0 5px;
    color: #7b7b7b;
    cursor: pointer;
    margin-right: 30px;
    &.selected {
      color: #222;
      font-weight: 500;
    }
    &:first-child {
      padding: 0;
    }
  }
}
