.image-tag-popover {
  .image-tag-container {
    width: 195px;
    height: 187px;
    background: #ffffff;
    box-shadow: 0px 2px 14px 0px rgba(0, 0, 0, 0.1);
    .image-tag-header {
      position: relative;
      padding-top: 20px;
      .image-tag-close {
        position: absolute;
        right: 10px;
        top: 10px;
        font-size: 15px;
        cursor: pointer;
      }
      .image-tag-title {
        margin-left: 20px;
        font-weight: 500;
        color: #7b7b7b;
        font-size: 12px;
      }
    }
    .image-tag-lable-item {
      margin: 20px 0 0 20px;
      display: flex;
      font-size: 16px;
      position: relative;
      color: #3a3a3a;
      align-items: center;
      .image-lable-name {
        width: 50px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
      // .image-label-enable {
      // margin-left: 10px;
      // }
      .image-lable-count {
        position: absolute;
        right: 12px;
      }
    }
  }
}
