@import '@src/styles/rem';

.account-container {
  .studio-info {
    .section-content {
      padding: 40px;
      li {
        overflow: hidden;
        margin: 10px 0;
        line-height: 32px;

        &+li {
          margin-top: 20px;
        }

        >div {
          float: left;
        }
        .logo {
          display: flex;
          align-items: center;
          .edit {
            cursor: pointer;
            color: #222;
            margin-left: 10px;
          }
          img {
            height: 48px;
            // width: 32px;
            // border-radius: 50%;
          }
        }

        .label {
          width: 120px;
          font-size: 14px;
          font-weight: 400;
        }

        .value {
          font-size: 14px;
          .err-text {
            color: #cc0200;
            font-size: 12px;
            height: 20px;
            line-height: 20px;
          }
        }
        input {
          border: 1px solid #d6d6d6;
          padding: 3px 10px;
          height: 32px;
          font-size: 14px;
          box-sizing: border-box;
          outline: none;
        }
        textarea {
          font-size: 14px;
          box-sizing: border-box;
          line-height: 32px;
          text-indent: 10px;
          width: rem(400px);
          height: 160px;
          outline: none;
          resize: none;
          border: 1px solid #d6d6d6;
        }
      }
      .top-li {
        margin-bottom: 40px;
        display: flex;
        align-items: center;
      }
    }
    .section-btn {
      width: rem(560px);
      display: flex;
      justify-content: flex-end;
      button {
        margin-left: 16px;
        margin-right: 0;
        width: 124px;
      }
    }
  }
}