.exhibitImgsWrapper {
  .upload {
    width: 120px;
    height: 120px;
    .icon {
      width: 20px;
    }
    .upload-button {
      background: #F6F6F6;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      .fa-add-upload {
        display: none;
      }
    }
  }
  .imgsContent {
    display: flex;

    .imgItem {
      position: relative;
      cursor: pointer;
      background: #F6F6F6;
      width: 120px;
      height: 120px;
      margin-right: 10px;
      &:hover {
        .close {
          opacity: 1;
          z-index: 1;
        }
      }
      .bg {
        position: absolute;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
      }
      .close {
        transition: all 0.3s;
        cursor: pointer;
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #eaeaea;
        border-radius: 50%;
        width: 20px;
        height: 20px;
        right: 10px;
        top: 10px;
        opacity: 0;
        z-index: -1;
        img {
          width: 10px;
          height: 10px;
        }
      }
    }
  }
  .tips {
    font-weight: normal;
    color: #7B7B7B;
    font-size: 14px;
    margin-top: 16px;
  }
}