#homeApp {
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
}
.favorite-pay-info{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  z-index: 1002;
  .fa-icon{
    display: inline-block;
    margin: 30px;
  }
  .pay-cont{
    background-color: #f6f6f6;
    width: 70%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 60px 110px;
    background-color: #f6f6f6;
    .title{
      font-weight: 500;
      font-size: 20px;
      color: #3A3A3A;
      line-height: 28px;
      text-align: left;
      margin-bottom: 40px;
    }
    .info{
      font-weight: 400;
      font-size: 16px;
      color: #3A3A3A;
      line-height: 22px;
      text-align: left;
    }
    .pay-limit{
      margin-top: 40px;
      margin-bottom: 60px;
      .warning{
        color: #CC0200;
      }
    }
    .divide{
      width: 100%;
      border: 1px solid #D8D8D8;
    }
    .qrcode{
      margin-top: 60px;
    }
    .amount{
      margin-top: 20px;
      font-weight: 400;
      font-size: 16px;
      color: #3A3A3A;
      line-height: 40px;
      text-align: left;
      .amount{}
      .money{
        font-size: 28px;
      }
    }
  }
}
.main-container {
  .owner-tips {
    color: #fff;
    font-size: 14px;
    line-height: 17px;
    background: #000;
    text-align: center;
    padding: 5px 0;
  }

  .cover-text-item {
    // width: 100%;
    padding: 0 20px;
    text-align: center;
  }

  .cover-text-item-eventDate {
    font-size: 0.33rem;
    margin-top: 5px;
  }

  .email-input-box {
    position: fixed;
    top: 0;
    left: 0;
    background: #000;
    z-index: 1;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);

    .guest-access-tip {
      font-size: 16px;
      color: #fff;
      line-height: 24px;
      font-weight: 200;
      margin-bottom: 15px;
      text-align: left;
    }

    .email-wrap {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      max-width: 500px;

      .input-with-clear {
        text-align: left;
        height: 96px;

        .tip-content {
          display: block;
          font-size: 24px;
          margin: 16px 0;
          font-weight: 200;
        }
      }

      .enter-email {
        height: 48px;
        box-sizing: border-box;
        padding: 10px 30px 10px 10px;
        line-height: 1;
        font-size: 24px;
        min-width: 460px;
        font-size: 16px;
      }

      .button {
        height: 48px;
        background: transparent;
        border: 2px solid #fff;
        box-sizing: border-box;
      }
    }
  }

  .login-info-box {
    position: fixed;
    top: 0;
    left: 0;
    background: #000;
    z-index: 1;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);

    .guest-access-tip {
      font-size: 16px;
      color: #222222;
      line-height: 24px;
      font-weight: 400;
      margin-bottom: 15px;
      text-align: left;
    }

    .email-wrap {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      width: 400px;
      padding: 40px;
      height: auto;
      color: #222222;
      background: #fff;
      border-radius: 8px;
      box-sizing: border-box;
      word-wrap: break-word;

      .collection-title {
        width: 100%;
        font-size: 24px;
        font-weight: 500;
        color: #222222;
        margin-bottom: 24px;
        text-align: center;
      }

      .input-with-clear {
        text-align: left;
        height: 52px;
        margin-bottom: 16px;

        .tip-content {
          display: block;
          font-size: 13px;
          margin-top: 10px;
          font-weight: 200;
        }
      }

      .enter-email {
        height: 36px;
        box-sizing: border-box;
        padding: 8px 30px 8px 12px;
        line-height: 1;
        font-size: 14px;
      }

      .button {
        width: 155px;
        height: 36px;
        background: #222222;
        border: 2px solid #fff;
        box-sizing: border-box;
        margin-top: 8px;
      }
    }
  }

  .cover {
    width: 100%;

    img {
      width: 100%;
    }
  }

  .x-water-fall {
    margin: 0 40px;
    box-sizing: border-box;

    .icon-list {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      height: 53px;
      background: linear-gradient(to top, transparent 0, rgba(0, 0, 0, 0.5) 100%);
      display: flex;
      align-items: center;

      .favorite-small-wrapper {
        margin-right: 12px;
        margin-left: 8px;
      }

      .favorite-small-comment {
        margin-left: 12px;
      }

      .download-mark {
        position: relative;

        &::before {
          content: '';
          display: inline-block;
          width: 8px;
          height: 8px;
          border-radius: 50%;
          background: #a3e9a5;
          position: absolute;
          top: -3px;
          right: 0;
        }
      }
    }

    .right-top-icons {
      position: absolute;
      top: 8px;
      right: 16px;
      display: flex;
      align-items: center;
      height: 38px;
    }

    .recommend {
      position: absolute;
      left: 8px;
      bottom: 11px;
      width: 65px !important;
      height: auto;
    }
  }

  .favorite-image-viewer {
    background: #fff;

    &.x-image-viewer-container {
      .image-viewer-body {
        top: 80px;
      }
    }

    .favorite-view-header {
      padding: 40px 40px 0;
      display: flex;
      align-items: center;
      justify-content: space-between;
      position: absolute;
      width: 100%;
      box-sizing: border-box;
      z-index: 1;

      .imgNameTitle {
        position: absolute;
        left: 0;
        right: 0;
        text-align: center;
        z-index: -1;
      }

      .favorite-view-icon {
        margin: 0 12px;
      }

      .fa-icon {
        .text {
          color: #000000;
          font-size: 26px;
        }
      }

      .download-mark {
        position: relative;

        &::before {
          content: '';
          display: inline-block;
          width: 8px;
          height: 8px;
          border-radius: 50%;
          background: #a3e9a5;
          position: absolute;
          top: -3px;
          right: 0;
        }
      }
    }
  }

  .content {
    min-height: 800px;
    position: relative;
    padding-bottom: 70px;

    .set-wrap {
      margin: 0 45px;
      position: relative;
      background-color: #f0f0f0;
      height: 120px;
      display: flex;
      align-items: center;

      &.breadcrumb-sticky-wrap {
        height: 90px;
      }

      .collection-set-name-wrap {
        display: flex;
        align-items: center;
        width: 100%;

        .collection-name {
          font-size: 26px;
          font-weight: 500;
          color: #3a3a3a;
          letter-spacing: 2px;
          margin-right: 40px;
          max-width: 200px;
        }
      }

      .set-handle-btns {
        display: flex;
        position: absolute;
        // top: 0;
        right: 0;

        .favorite-big-wrap {
          margin-right: 30px;
        }

        .submitGallery {
          display: inline-block;
          text-align: center;
          cursor: pointer;
          user-select: none;
          background: #2a2a2a;
          color: #fff;
          width: 100px;
          height: 30px;
          line-height: 30px;
          margin-left: 30px;

          &.disable {
            cursor: not-allowed;
            background: #9e9e9e;
          }
        }

        .print-store-info {
          display: flex;
          align-items: center;

          &> :not(:last-child) {
            margin-right: 30px;
          }

          &__title {
            cursor: pointer;
            height: 16px;
            font-size: 16px;
            font-weight: 500;
            color: #3a3a3a;
            line-height: 19px;
            letter-spacing: 2px;
          }

          &__split {
            display: block;
            width: 1px;
            height: 18px;
            background: #d8d8d8;
          }

          &__buttons {
            &__item {
              margin-right: 30px;
            }
          }
        }
      }

      .set-list {
        overflow-x: scroll;
        display: flex;
        align-items: center;
        box-sizing: border-box;
        height: 40px;
        line-height: 40px;
        overflow-y: hidden;

        .set-item {
          flex: none;
          // font-size: 26px;
          font-size: 16px;
          font-weight: 500;
          color: #7b7b7b;
          display: inline-block;
          margin-right: 40px;
          cursor: pointer;
          position: relative;

          max-width: 180px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;

          &:last-child {
            margin-right: 0;
          }

          &.active {
            color: #000;

            &:after {
              content: '';
              position: absolute;
              bottom: 4px;
              left: 0;
              width: 100%;
              height: 2px;
              background-color: #3a3a3a;
            }
          }
        }
      }

      .collection-sets-dropdown {
        margin-left: 40px;

        .set-dropdown-lable {
          display: flex;
          justify-content: left;
          position: relative;
          width: 80px;

          .label-content {
            color: #7b7b7b;
            font-size: 16px;
            margin-right: 12px;
          }
        }

        .dropdown-menu {
          border-radius: 2px;
          padding: 10px 0;

          .dropdown-set-item {
            width: 260px;
            height: 50px;
            font-size: 16px;
            line-height: 50px;
            padding-left: 20px;
            box-sizing: border-box;
            color: #7b7b7b;

            &:hover {
              background-color: #f0f0f0;
            }

            &.actived-item {
              background-color: #f0f0f0;
              color: #3a3a3a;
            }
          }
        }
      }
    }

    .content-title {
      font-family: Gotham, Gotham;
      font-weight: normal;
      font-size: 20px;
      color: #3a3a3a;
      line-height: 24px;
      text-align: left;
      font-style: italic;
      margin-bottom: 40px;

      &.photo {
        text-align: center;
      }
    }

    .video-content {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 80px;
    }

    .photo-content {
      width: 100%;
    }
  }

  .no-photos {
    font-size: 16px;
    color: #7b7b7b;
    line-height: 19px;
    margin: 333px auto;
    text-align: center;
  }

  .selectionsContainer {
    width: fit-content;
    min-width: 8.13rem;
    position: sticky;
    z-index: 1001;
    transform: translateX(-50%);
    bottom: 40px;
    left: 50%;

    .sbCommonFlex {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .promotion {
      width: fit-content;
      // min-width: 5rem;
      height: 1.21rem;
      background: linear-gradient(90deg, #fce9cb 0%, #fbe2b4 100%);
      box-shadow: 0rem 0.04rem 0.15rem 0rem rgba(0, 0, 0, 0.23);
      border-radius: 0.21rem 0.21rem 0.21rem 0rem;
      position: relative;
      z-index: -1;
      top: 0.58rem;
      align-items: flex-start;
      padding: 0.17rem 0.48rem;
      box-sizing: border-box;
      font-size: 0.29rem;
      font-weight: 500;
      color: #6d4c28;
    }

    .comboBox {
      flex-direction: column;
      width: fit-content;
      min-width: 3.54rem;
      background: #f6f6f6;
      box-shadow: 0rem 0.04rem 0.15rem 0rem rgba(0, 0, 0, 0.23);
      border-radius: 0.21rem;
      box-sizing: border-box;
      padding: 0.21rem;
      padding-bottom: 0.13rem;
      position: absolute;
      right: -0.21rem;
      bottom: 1.3rem;

      .comboList {
        height: 0.83rem;
        background-color: #fff;
        border-radius: 0.08rem;
        overflow: hidden;
        margin-bottom: 0.08rem;
        box-sizing: border-box;
        width: 100%;
        border: 0.02rem solid transparent;
        border-right: none;
        cursor: pointer;

        div:nth-of-type(1) {
          height: 100%;
          min-width: 2.28rem;
          font-size: 0.25rem;
          font-weight: 400;
          color: #222222;
          padding: 0 0.4rem;
          box-sizing: border-box;
          justify-content: flex-start;
        }

        div:nth-of-type(2) {
          padding: 0 0.1rem;
          // min-width: 1.25rem;
          box-sizing: border-box;
          height: 100%;
          font-size: 0.25rem;
          font-weight: normal;
          color: #ffffff;
          background: #cba47c;
          flex-grow: 1;

          span {
            font-size: 0.33rem;
            font-weight: 500;
            color: #ffffff;
          }
        }
      }
    }
  }

  .selectionsBox {
    width: fit-content;
    min-width: 8.13rem;
    height: 1.25rem;
    background: #ffffff;
    box-shadow: 0rem 0.04rem 0.15rem 0rem rgba(0, 0, 0, 0.23);
    border-radius: 0.63rem;
    box-sizing: border-box;
    padding-left: 0.83rem;
    padding-right: 0.53rem;

    .sbLeft {
      .sbLeftTop {
        font-size: 0.38rem;
        font-weight: 400;
        color: #222222;

        // span {
        //   color: #CC0200;
        // }
      }

      .leftBottom {
        font-size: 0.25rem;
        font-weight: 400;
        color: #7b7b7b;

        span {
          padding: 0 0.1rem;
        }
      }
    }

    .sbMiddle {
      font-size: 0.38rem;
      font-weight: 400;
      color: #222222;
      margin-left: 0.83rem;

      span {
        color: #cc0200;
      }
    }

    .sbRight {
      cursor: pointer;

      img {
        width: 0.38rem;
        margin-left: 0.21rem;
      }
    }
  }
}

.portfolio-container {
  width: 100%;
  height: 100%;
}

.download-gallery-tooltip,
.card-download-photo-tooltip,
.preview-download-photo-tooltip {
  width: 256px;
  height: 64px;
  font-size: 12px;
  font-weight: normal;
  color: #ffffff;
  line-height: 64px;
  opacity: 1;
  z-index: 100000;

  .rc-tooltip-inner {
    padding: 0;
    text-align: center;
  }

  &.card-download-photo-tooltip {
    .rc-tooltip-arrow {
      left: 5%;
    }
  }

  &.download-gallery-tooltip {
    .rc-tooltip-arrow {
      right: 5%;
    }
  }

  &.preview-download-photo-tooltip {
    .rc-tooltip-arrow {
      right: 4%;
    }
  }
}