@import '@src/styles/rem';

.gllery-editor-container {
  height: 100%;
  display: flex;

  .content{
    padding-top: 40px;
    box-sizing: border-box;
  }
  // 右侧容器默认样式
  .gllery-editor-content-wrapper {
    width: calc(100% - 7.5rem);
    min-width: 340px;
    height: 100%;
    flex: 1;
    .content {
      height: calc(100% - 40px) !important;
      padding-left: 1.65rem;
      padding-right: 0.83rem;
      box-sizing: content-box;
    }
  }
}