.estore-apply-bulk-markup-wrapper {
  width: 400px;
  .markup-container {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    .markup-input{
      margin-top: 15px;
      input{
        border: 1px solid #ccc;
        width: 280px;
        height: 30px;
      }
    }
    .markup-hint{
      margin-top: 5px;
      color: #DE3418;
      font-size: 12px;
    }
    .select-container{
      margin-top: 15px;
      margin-bottom: 40px;
    }
  }

  .tab-content {
    height: 300px;
    padding-top: 20px;
    margin-bottom: 20px;
    overflow-x: scroll;
    .input-content{
      display: flex;
      align-items: center;
      margin-bottom: 15px;
      input{
        accent-color: #3A3A3A
      }
    }

  }

  .text {
    font-size: 14px;
    color: #3A3A3A;

    &.title {
      font-size: 20px;
      font-weight: 500;
    }

    &.margin-top24 {
      margin-top: 24px;
    }
    &.book {
      margin-top: 24px;
      font-weight: 400;
    }
    &.light{
      margin-top: 18px;
      font-size: 12px;
      font-weight: 300;
    }
    &.percent {
      margin-left: 12px;
      font-weight: 300;
    }
  }

  .btns-container {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    .cancel {
      width: 140px;
      height: 32px;
      font-size: 13px;
      font-weight: normal;
      color: #3A3A3A;
      border: 1px solid #7B7B7B;
      background: #FFFFFF;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .confirm {
      width: 140px;
      height: 32px;
      background: #3A3A3A;
      font-size: 13px;
      font-weight: normal;
      color: #FFFFFF;
      display: flex;
      justify-content: center;
      align-items: center;
    }

  }
}