.avatarView {
  position: absolute;
  left: 0;
  bottom: 154px;
  height: 244px;
  width: 100%;
  text-align: center;
  z-index: 2;

  .avatarView__title {
    margin: 40px 0 0;
    color: #fff;
    font-size: 24px;
    font-weight: 400;
    line-height: 24px;
  }

  .avatarView__clause {
    color: #0077cc;
    margin: 16px 0 0;
    font-size: 24px;
    font-weight: 400;
    line-height: 24px;
  }

  .avatarView__content {
    margin: 40px auto 0;
    display: flex;
    max-width: 100%;
    padding: 0 20px;
    overflow-x: auto;
    box-sizing: border-box;
    width: fit-content;

    &::-webkit-scrollbar {
      display: none;
    }

    .item {
      width: 90px;
      height: 90px;
      box-sizing: border-box;
      border-radius: 50%;
      object-fit: cover;
      background-color: #ccc;
      flex: none;
      overflow: hidden;
    }
    .item:not(:last-child) {
      margin-right: 20px;
    }
  }
}
