.change-cover-modal {
  .modal-title {
    user-select: none;
  }

  .modal-body {
    position: relative;
    width: 340px;
    height: 270px;
    overflow: hidden;

    .select-file {
      display: block;
      width: 100%;
      height: 100%;
      background: #d8d8d8;

      .upload-button {
        font-size: 14px;
        position: absolute;
        top: -200px;
      }

      .description {
        text-align: center;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        position: absolute;
        width: 100%;

        img {
          width: 38px;
        }
      }

      .text {
        color: #3a3a3a;
        margin-top: 30px;
        font-size: 14px;
      }

      .error {
        color: #c0392b;
        margin-top: 20px;
      }
    }
  }
}
