.x-modal {
  .choose_img_modal {
    width: 100vw;
    height: 100vh;
    position: fixed;
    .close {
      position: fixed;
      top: 45px;
      left: calc(10vw + 40px);
      width: 18px;
      cursor: pointer;
    }
    .title {
      font-size: 24px;
      text-align: center;
      margin-top: 22px;
      font-weight: 500;
    }
    .right{
      top: 70px;
    left: calc(82.7vw - 200px);
      position: fixed;
      width: 240px;
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
      flex-direction: column;

    }
    .button {
      width: 130px;
      text-align: center;
      line-height: 41px;
      font-size: 16px;
      height: 41px;
      margin-right: 0;
    }
    .Select {
      position: fixed;
      top: 119px;
      left: calc(10vw + 40px);
      z-index: 999;
    }
    .Select-control {
      width: 130px;
    }
    .select_tips{
      font-size: 16px;
      margin-top: 20px;
      &.shake{
        animation: shake 1s infinite;
      }

    }
    @keyframes shake {
      0% { transform: translate(0, 0); }
      10%, 30%, 50%, 70%, 90% { transform: translate(-10px, 0); }
      20%, 40%, 60%, 80% { transform: translate(10px, 0); }
      100% { transform: translate(0, 0); }
    }
    .no_photo{
      text-align: center;
      margin-top: 320px;
      font-weight: 500;
      font-size: 30px;

    }
    .select_wrap {
      padding: 0 10vw;
      margin-top: 100px;
      height: calc(100vh - 200px);
      overflow: scroll;
      // display: flex;
      // flex-wrap: wrap;
     
     
      .image_wrap {
        width: 11.7vw;
        height: 11.7vw;
        background-color: #f6f6f6;
        margin-right: 0.5vw;
        margin-bottom: 16px;
        position: relative;
        box-sizing: border-box;
        float: left;
        &:nth-child(6n){
          margin-right: 0;
        }
        &.select{
          border: 1px solid #000;
        }
        .product_img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
        .icon {
          position: absolute;
          z-index: 99;

          width: 22px;
          height: 22px;
          top: 9px;
          right: 9px;
        }
      }
    }
  }
}
