.modal {
   width: 80%;
   bottom: 0;
   background-color: transparent;
   display: flex;
   align-items: center;
   justify-content: flex-start;
   flex-direction: column;
   padding-top: 20px;
   margin-left: 10%;
   margin-right: 10%;

//    box-shadow: 0 -5px 15px -5px rgba(0, 0, 0, 0.5);
padding-bottom: 20px;

   span{
    
    font-size: 40px;
    color: #222222;
    text-align: center;
   }
   p{
     font-size: 28px;
     color: #222222;
     text-align: center;
     width: 100%;
     word-wrap:break-word; 
   }
   img{
    width: 175px;
   //  height: 240px;
    object-fit: contain;
    // background-color: #7B7B7B;
   }
}