.slide-show-collection-detail-slide-show-settings {
  width: calc(100% - 7.5rem);
  min-width: 340px;
  height: 100%;
  flex: 1;
  .content {
    height: calc(100% - 40px) !important;
    padding-left: 1.65rem;
    padding-right: 0.83rem;
    box-sizing: content-box;
    .setting-head {
      color: #3a3a3a;
      font-size: 26px;
      font-weight: normal;
      border-bottom: 1px solid #d8d8d8;
      padding-bottom: 8px;
    }
    .collection-settings-wrap {
      height: calc(100% - 43px);
      overflow: scroll;
      .settings-item {
        margin-top: 40px;
        .item-name {
          height: 22px;
          font-size: 18px;
          font-weight: 500;
          color: #3a3a3a;
          line-height: 18px;
          margin-bottom: 16px;
        }
        .item-content {
          position: relative;
          &.slug-item-content {
            &::after {
              content: '';
              position: absolute;
              background-color: #F6F6F6;
              background-image: url('~@resource/static/icons/link.png');
              background-repeat: no-repeat;
              background-size: 14px;
              background-position: center;
              width: 40px;
              height: 38px;
              left: 1px;
              top: 1px;
            }
          }
          .settings-slideshow-slug {
            padding-left: 50px;
          }
          .suffix {
            right: 10px;
            .btn-wrap {
              display: flex;
              .cancel, .save {
                display: inline-block;
                width: 120px;
                height: 36px;
                font-size: 13px;
                line-height: 36px;
                text-align: center;;
                color: #fff;
                background-color: #3A3A3A;
                cursor: pointer;
                transition: all .3s ease-in;
                margin: 0;
              }
              .save {
                &:hover {
                  background-color: #000;
                }
              }
              .cancel {
                color: #3A3A3A;
                background-color: #fff;
                &:hover {
                  color: #3A3A3A;
                }
              }
            }
          }
          .tip-wrap {
            display: flex;
            align-items: baseline;
            .more-link {
              color: #0077cc;
              font-size: 12px;
              margin-left: 10px;
              cursor: pointer;
              white-space: nowrap;
            }
          }
          .tip-msg {
            height: 14px;
            line-height: 14px;
            font-size: 12px;
            margin-top: 8px;
            color: #7b7b7b;
            display: inline-block;
            max-width: 100%;

            // @media (max-width: 960px) {
            //   max-width: 500px;
            // }
          }
          .date-picker-wrap {
            position: absolute;
            top: 44px;
            z-index: 999;
          }
          .collection-content-container {
            .extra {
              height: 33px;
              background: #f6f6f6;
              padding-left: 12px;
              padding-right: 30px;
              width: 10rem;
              display: flex;
              justify-content: space-between;
              align-items: center;
              .label {
                color: #7b7b7b;
              }
              .btn {
                cursor: pointer;
              }
            }
          }
        }
      }
    }
  }
}
