@import '@apps/workspace/styles/rem';

.creat-watemark-modal {
  .flex-content {
    display: flex;

    .canvas-box {
      position: relative;
      overflow: hidden;
      margin-right: 76px;
    }
  }

  .preview {
    font-size: 16px;
    font-weight: normal;
    color: #3a3a3a;
    line-height: 28px;
    margin-bottom: 24px;
  }

  .option-box {
    .option-item {
      margin-bottom: 12px;

      label {
        font-size: 16px;
        font-weight: 500;
        color: #3a3a3a;
        line-height: 19px;
        display: flex;
        margin-bottom: 12px;
        justify-content: space-between;

        span {
          font-size: 14px;
        }
      }

      .input-container {
        height: 60px;
      }

      .tip-content {
        max-width: 350px;
      }

      input {
        border: 1px solid #979797;
        width: 350px;
        height: 35px;
        line-height: 35px;
      }

      .rc-slider {
        .rc-slider-track {
          display: none;
        }

        .rc-slider-handle {
          left: 50%;
          background-color: #3a3a3a;
          border-color: #3a3a3a;
          margin-top: -7px;
        }
      }
      .watemark-edit {
        position: relative;
        top: -10px;
        line-height: 25px;
        .icon {
          width: 25px;
          height: 25px;
        }
        .options {
          .text {
            line-height: 25px;
            font-size: 16px;
          }
        }
      }
    }
  }

  .w-footer {
    text-align: center;
    padding-top: 32px;

    > .save-btn {
      width: 97px;
      height: 44px;
      line-height: 44px;
      font-size: 20px;
      font-weight: 500;
      color: #ffffff;
    }
  }
}
