.PayFormModal {
    transform: none !important;
    left: 0 !important;
    right: 0 !important;
    top: 0 !important;
    bottom: 0 !important;
    padding: 0 !important;
    overflow-y: auto;
    background-color: #F6F6F6 !important;
    padding: 1.17rem 0 2.08rem !important;
    font-weight: normal;
}