.Popup {
    width: 750px;
    height: 800px;
    background: #F6F6F6;
    box-shadow: 0px -2px 14px 0px rgba(0, 0, 0, 0.27);
    box-sizing: border-box;
    bottom: -800px;
    transition: all 0.3s ease-in-out;
    box-sizing: border-box;
    position: fixed;
    z-index: 1002;
    padding-bottom: 60px;

    .title {
        display: flex;
        justify-content: space-between;
        font-size: 26px;
        color: #3A3A3A;
        margin: 40px 0;
        padding: 0px 27px;

        .cancle {
            font-size: 24px;
            margin-left: 40px;
        }
    }

    .imgList {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        max-height: 100%;
        height: fit-content;
        overflow-y: scroll;
        padding-bottom: 208px;
        box-sizing: border-box;
        padding-left: 4px;

        .imgBoxContainer {}

        .active {
            border: 2px solid#0095FF;
        }

        .imgBox {
            margin-bottom: 18px;
            margin-left: 14px;

            display: flex;
            justify-content: center;
            align-items: center;
            width: 128px;
            box-sizing: border-box;

            height: 128px;
            border-radius: 100%;
            overflow: hidden;

            .x-img-background {
                border-radius: 100%;
                width: 118px;
                height: 118px;
                cursor: pointer;
            }

            .loadingBox {
                position: relative;
                height: 118px;
                width: 118px;
                border-radius: 100%;
                overflow: hidden;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: #ddd;

                img {
                    width: 100%;
                }
            }

            .mask {
                height: 118px;
                width: 118px;
                background-color: rgba(0, 0, 0, 0.6);
                z-index: 9;
                position: absolute;
                border-radius: 100%;
                top: 0px;
                left: 0px;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 24px;
                color: #3A3A3A;
                text-align: center;
                color: #fff;
            }
        }

        .avatarName {
            text-align: center;
            margin: 0 auto 20px;
            color: rgb(58, 58, 58);
            font-size: 26px;
            width: 110px;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            padding-left: 14px;
        }
    }

    .bottom {
        position: absolute;
        bottom: 0;
        background-color: #F6F6F6;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 32px;
        padding: 0px 27px;
        box-sizing: border-box;
        padding-bottom: 60px;
        z-index: 99;

        .confirm {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 702px;
            height: 88px;
            background: #3A3A3A;
            color: #FFFFFF;
        }
    }
}