.main-container {
  position: fixed;
  width: 100%;
  height: 100%;
  .email-input-box {
    position: fixed;
    top: 0;
    left: 0;
    background: #000;
    z-index: 1;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);

    .guest-access-tip {
      font-size: 22px;
      color: #fff;
      font-weight: 200;
      margin-bottom: 20px;
      text-align: left;
    }

    .email-wrap {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      .email-name {
        font-size: 30px;
        color: #fff;
        margin-bottom: 50px;
        text-align: center;
      }

      .input-with-clear {
        text-align: left;
        height: 126px;
        .tip-content {
          display: block;
          font-size: 24px;
          margin: 16px 0;
          font-weight: 200;
        }
      }

      .enter-email {
        padding: 10px 10px;
        line-height: 1;
        font-size: 28px;
        min-width: 640px;
        height: 80px;
      }

      .button {
        margin-top: 1%;
        background: transparent;
        border: 2px solid #fff;
        box-sizing: border-box;
        width: 220px;
        height: 80px;
        font-size: 28px;
      }
    }
  }
}
.coverImg {
  position: fixed;
  height: 100%;
}
