.water-mark-wrap {
  width: 600px;
  padding: 85px 50px 38px!important;
  
  
}

.upgrade-content{
  color: #3a3a3a;
  font-size: 16px;
}

.upgrade-btn{
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  width: 121px;
  height: 36px;
  line-height: 36px;
  text-align: center;
  color: #fff;
  background: #000;
  margin: 41px auto 0;

}
