.mycommodlist-list-container {
  .project-item-container {
    width: 100%;
    color: #222222;
    height: auto;

    &.sub-project {
      padding: 15px 0 18px;
      background: #fcfcfc;
      border: none;
    }
    &.sub-project + &.sub-project {
      margin-top: 16px;
    }
    .no-data-container {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      padding: 15px 0 18px;
      .no-data-text {
        font-size: 16px;
        font-weight: 500;
        color: #222222;
      }
    }

    .prime-project-item-container {
      position: relative;
      padding: 15px 0;
      border-top: 1px solid #d6d6d6;

      .cover-image-wrap {
        float: left;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;

        .subproject-index {
          width: 18px;
          height: 18px;
          margin: 0 16px;
          font-size: 12px;
          text-align: center;
          line-height: 18px;
          border-radius: 2px;
          background-color: #cccccc;
        }
        .cover-image-container {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 160px;
          height: 160px;
          background: #f0f0f0;
          &.disabled {
            cursor: default;
          }

          &.square-cover {
            width: 160px;
            height: 160px;
            // background: #F6F6F6;
          }

          .cover-image {
            max-width: 90%;
            max-height: 90%;
          }
        }
      }

      .actions-container {
        width: 80px;
        float: right;
        height: 160px;

        .actionbar-item {
          margin-top: 0;
          display: block;
          font-size: 14px;
          line-height: 18px;
          cursor: pointer;
          color: #222222;
          &.disable {
            cursor: default;
            color: #cccccc;
            opacity: 0.5;
          }
          &:nth-child(1) {
            margin-top: 42px;
          }
        }
        .actionbar-item + .actionbar-item {
          margin-top: 8px;
        }
      }

      .project-desc-container {
        overflow: hidden;
        padding: 0 24px;
        height: 160px;
        box-sizing: border-box;

        .project-desc-item {
          &.displayname-dark {
            color: #7b7b7b;
          }
          &.clone-tip {
            font-size: 12px;
            color: #7b7b7b;
          }
          font-size: 14px;
          line-height: 16px;
          & + .project-desc-item {
            margin-top: 8px;
          }

          .red {
            color: #ff0000;
          }
        }

        .top-section {
          .item-project-id {
            font-size: 14px;
            line-height: 16px;
          }
          .item-project-name-container {
            font-size: 16px;
            margin-top: 8px;
            height: 18px;
            line-height: 18px;

            .item-project-name {
              display: inline-block;
            }
            .item-project-name,
            .modify-icon {
              vertical-align: middle;
            }
            .modify-icon {
              width: 14px;
              height: 14px;
              margin-left: 8px;
              cursor: pointer;
            }
          }
        }

        .bottom-section {
          margin-top: 33px;
          font-size: 14px;
        }
      }

      .off-line-tip {
        padding: 10px 20px;
        font-size: 14px;
        line-height: 20px;
        background: #f3ebd6;
        color: #222222;
      }
    }
    .subproject-switcher {
      //position: absolute;
      //left: 0;
      //bottom: -34px;
      margin-top: 16px;
      display: inline-block;
      font-size: 14px;
      cursor: pointer;
      user-select: none;

      .switcher,
      .switcher-icon {
        vertical-align: middle;
      }
      .switcher-icon {
        margin-top: 2px;
        margin-left: 16px;
        width: 14px;
        height: 8px;
        transform-origin: center center;
        transform: rotate(180deg);
        transition: transform 0.3s;
        &.open {
          transform: rotate(0deg);
        }
      }
    }
    .subproject-container {
      margin-top: 16px;
      box-sizing: border-box;
      position: relative;
      .arrow-top {
        position: absolute;
        width: 0;
        height: 0;
        left: 120px;
        top: -8px;
        border-top: 10px solid #fcfcfc;
        border-left: 10px solid #fcfcfc;
        border-right: 10px solid transparent;
        border-bottom: 10px solid transparent;
        transform: rotate(45deg);
      }

      .actions-container {
        .actionbar-item:nth-child(1) {
          margin-top: 40px;
        }
      }
    }
  }
  .pagination-container {
    margin-top: 20px;
    float: right;
    padding-bottom: 50px;
  }
}

.project-item-container > div:first-child {
  border-top:none !important;
}