.text-input-modal {
  width: 560px;
  .text-input-modal-title {
    font-size: 24px;
    font-weight: 300;
    line-height: 30px;
    color: #222222;
  }

  .text-input-out-container {
    position: relative;

    .text-input-container {
      display: flex;
      margin-top: 50px;
      justify-content: space-between;
      align-items: center;
  
      .text-input-label {
        font-size: 16px;
        color: #222222;
      }
  
      .text-input {
        height: 40px;
        flex-grow: 99;
        font-size: 14px;
        color: #222222;
        margin-left: 16px;
        padding: 0 10px;
        border: none;
        outline: none;
        background-color: #F6F6F6;
        box-sizing: border-box;
      }
    }
    
    .format-tip {
      position: absolute;
      right: 0;
      top: -30px;
      font-size: 12px;
      color: #de3418;
      font-style: italic;
      line-height: 1;
      font-weight: 300;
    }
  }

  .buttons-container {
    margin-top: 40px;
    text-align: center;

    button {
      width: 160px;
    }
  }
}