.post-card-list {
  text-align: center;
  box-sizing: border-box;
  padding: 40px 40px 0 40px;
  .add-post-card-button {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 40px;
  }

}