.switch-box{
  width: 64px;
  .switch-label {
    position:relative;
    display: block;
    height: 32px;
    margin-bottom: 15px;
    cursor: pointer;
    vertical-align: top;
    user-select: none;
    // display: flex;
    // padding-left: 64px;
    // align-items: center;
    // &:before{
    //   content: '';
    //   display: block;
    //   border-radius: 24px;
    //   height: 32px;
    //   background-color: #D8D8D8;
    //   transform: scale(1, 1);
    //   transition: all 0.3s ease;
    // }
    // &:after{
    //   content: '';
    //   position: absolute;
    //   top: 50%;  
    //   left: 50%;  
    //   margin-top: -16px;
    //   margin-left: -16px;
    //   width: 32px;
    //   height: 32px;
    //   border-radius: 32px;
    //   background-color: #fff;
    //   box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.08);
    //   transform: translateX(-9px);
    //   transition: all 0.3s ease;
    // }
    .switch-text {
      position: absolute;
      right: -50px;
      top: 0;
      &.off {
        right: -30px;
      }
    }
  }
  .switch-checkbox {
    display:none;
    &:checked {
      // &~.switch-label {
      //   &:after {
      //     transform: translateX(9px);
      //   }
      //   &:before {
      //     background-color:#3A3A3A;
      //   }
      // }
    }
  }
}