.order_detail {
  padding: 0 250px;
  .order_price {
    margin-top: 33px;
    text-align: left;
    line-height: 22px;
    padding: 80px;
    padding-right: 0;
    width: 173px;
    float: right;
    font-size: 14px;
    .price{
      width: 300px;
      display: flex;
      justify-content: space-between;
      span{
        font-weight: 500;
      }
    }
    a {
      cursor: pointer;
      font-weight: 500;
      text-decoration: underline;
    }
  }
  .d_top {
    padding-top: 40px;
    font-weight: 500;
    color: #3a3a3a;
    line-height: 19px;
    font-size: 16px;
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 17px;
    .d_back {
      cursor: pointer;
    }
  }
  .d_title {
    font-weight: 500;
    color: #3a3a3a;
    font-size: 16px;
  }
  .status_wrap {
    padding-top: 40px;
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 40px;

    .status_box {
      background-color: #f9f9f9;
      line-height: 110px;
      height: 110px;

      margin-top: 16px;
      .left {
        float: left;
        padding-left: 16px;
      }
      .right {
        float: right;
        display: flex;
      }
      .status {
        font-size: 20px;
        font-weight: 500;
        color: #3a3a3a;
        line-height: 24px;
        margin-right: 40px;
      }
      .status_detail {
        font-weight: normal;
        color: #3a3a3a;
        line-height: 17px;
        font-size: 14px;
        display: inline-block;
        margin-right: 40px;
      }
      .option_btn {
        background: #3a3a3a;
        height: 40px;
        line-height: 40px;
        color: #fff;
        margin-top: 35px;
        width: 160px;
        text-align: center;
        margin-right: 16px;
        &.cancel {
          background-color: #fff;
          color: #3a3a3a;
          border: 1px solid #3a3a3a;
        }
      }
    }
  }
  .order_info {
    padding-bottom: 40px;
    padding-top: 40px;
    border-bottom: 1px solid #e5e5e5;
    .d_title {
      padding-bottom: 40px;
    }
    .order_tb {
      position: relative;
      display: flex;
      justify-content: flex-start;
      &.detail{
        .column{
          .tr{
            border: none;
          }

        }

      }
      .column {
        width: 250px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        font-size: 14px;
        .tr {
          display: flex;
      flex-wrap: nowrap;
      border-bottom: 1px solid #e5e5e5;
      padding: 40px 0px;
      font-weight: 500;
        }
        .td {
          text-align: left;
        }
      }
      .trackWrapper {
        position: absolute;
        transform: translateY(-50%);
        top: 50%;
        right: 0;
        &:hover {
          .trackButton {
            background-color: #000;
          }
        }
        .trackButton {
          cursor: pointer;
          background-color: #3a3a3a;
          color: #fff;
          line-height: 16px;
          padding: 10px 20px;
        }
        .trackInfo {
          position: absolute;
          background: #222;
          color: #fff;
          padding: 30px;
          top: 50px;
          right: 0px;
          .track_t{
            white-space: nowrap;
          }
          &::before {
            content: '';
            position: absolute;
            background: #222;
            rotate: 45deg;
            width: 15px;
            height: 15px;
            top: -6px;
            right: 50px;
          }
          div {
            height: 40px;
            line-height: 40px;
          }
        }
      }
    }
  }
  .pay_info {
    padding-bottom: 40px;
    padding-top: 40px;
    border-bottom: 1px solid #e5e5e5;
    .d_title {
      margin-bottom: 40px;
    }
    .row {
      display: flex;
      font-size: 14px;
      margin-bottom: 32px;
      .title {
        width: 180px;
        font-weight: 500;
        margin-right: 62px;
      }
      .info {
      }
    }
  }
  .d_detail {
    padding-bottom: 40px;
    padding-top: 40px;
    // border-bottom: 1px solid #e5e5e5;
    .d_title {
      margin-bottom: 40px;
    }
    .th {
      display: flex;
      flex-wrap: nowrap;
      background: #f9f9f9;
      font-weight: 500;
      :nth-child(1) {
        width: 20%;
      }
      :nth-child(2) {
        width: 57%;
      }
      :nth-child(3) {
        width: 14%;
      }
      :nth-child(4) {
        width: 14%;
      }
      :nth-child(5) {
        width: 14%;
      }
      .td {
        text-align: center;
        height: 60px;
        line-height: 60px;
        font-size: 14px;
      }
     
    }
    .tr {
      display: flex;
      flex-wrap: nowrap;
      border-bottom: 1px solid #e5e5e5;
      padding: 40px 0px;
      .img_td {
        padding: 20px 0;
        width: 20%;
        img {
          width: 30%;
        }
      }
      .name_td,.normal_td {
        text-align: center;
        line-height: 60px;
      }
      .name_td {
        text-align: left!important;
        .name {
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
        }
        .cartItemTips {
          color: #7B7B7B;
          font-size: 14px;
          margin-top: 5px;
          height: 30px;
          line-height: 0px;
        }
      }
      .view_td,.img_td{
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .center_td {
        width: 80%;
        display: flex;
        align-items: center;
        flex-direction: column;

        .sku_list {
          display: flex;
          flex-wrap: nowrap;
          align-items: center;
          height: 120px;
          width: 100%;
          td {
            height: 100%;
            line-height: 120px;
          }
        }
        .name_td {
          width: 57%;
        }

        .normal_td {
          width: 14%;
        }
      }
      .view_td {
        width: 10%;
      }
      .td {
        text-align: center;
      }
    }
   
  }
}
.send_to_lab_confirm{
  min-width: 540px !important;
  .modal-title{
    font-size: 16px!important;

  }
  .modal-body{
    font-size: 12px!important;
    text-align: left;
  }
}
