.zno-website-designer-page-tabs {
  display: flex;

  &-item {
    cursor: pointer;
    display: block;
    padding: 4px 6px;
    border-radius: 5px;
    font-weight: 500;
    font-size: 15px;
    overflow: hidden;
    transition: all 0.2s cubic-bezier(0.4, 0, 1, 1);

    &.tab-active {
      background-color: #f2f2f2;
    }

    &:not(:last-child) {
      margin-right: 16px;
    }
  }
}
