
.live_photo_client {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    .login_card {
        width: 500px;
        // justify-content: center;
        .login_title {
            display: flex;
            align-items: center;
            justify-content: center;
            .login_icon {
                width: 60px;
                border-radius: 12px;
                margin-right: 14px;
            }
            .login_title_text {
                font-weight: 600;
                font-size: 42px;
            }
        }
        .login_operator {
            .login_operator_tip {
                text-align: center;
                font-weight: 400;
                font-size: 24px;
                color: #222222;
                font-style: normal;
                line-height: 1.5em;
                margin: 0;
                margin-top: 80px;
            }
            .login_input {
                margin-top: 24px;
                text-align: center;
                width: 320px;
            }
            .login_operator_err {
                color: red;
                padding-left: 90px;
            }
        }
        .login_btn {
            text-align: center;
            .login_submit {
                margin-top: 80px;
                padding: 12px 54px;
            }
        }
        
    }
   
}