body {
  background-color: #fff;
  height: 100%;
  overflow: hidden;
}

.home-tool-container {
  opacity: 1;
  padding: 17px 0 5px 0;

  .sort-warp {
    width: 340px;
    height: 400px;
    background: white;
    display: flex;

    .sort-left-warp {
      width: 60%;
      background: #F6F6F6;
    }

    .sort-right-warp {
      width: 40%;
      background: #FFFFFF;
    }

    .sort-list {
      width: 100%;
      overflow-x: hidden;
      display: flex;
      flex-direction: column;

      .sort-item {
        font-size: 28px;
        color: #7b7b7b;
        overflow: hidden;
        height: 108px;
        display: flex;
        justify-content: center;
        align-items: center;

        &.active {
          color: #000;
          background: white;
        }

        img {
          width: 26px;
          height: 26px;
          padding: 0px 16px;
        }
      }
    }

    // .sort-item{
    //   width: 210px;
    //   height: 108px;
    //   background: #F6F6F6;
    // }
  }

  .rc-tooltip-arrow {
    right: 5%;
    border-width: 0 15px 15px;
    border-bottom-color: white;
  }
}

.main-container {
  background-color: #fff;
  height: 100%;
  overflow-y: auto;

  .screen-box {
    position: fixed;
    top: 0;
    left: 0;
    background: #000;
    z-index: 1;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    overflow-y: auto;

    .screen-bg-image {
      width: 100%;
    }
  }

  .info-container {
    display: flex;
    align-items: center;
    padding: 24px 0px;
    margin: 0 auto;
    width: 80%;

    .swiper-box {
      position: relative;
      width: 412px;
      margin-right: 24px;

      .swiper-items {
        height: 208px;
      }
    }
  }

  .btns {
    display: flex;
    position: fixed;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
  }

  .images-container {
    .set-box {
      background-color: #fff;
      color: #222222;
      // padding: 0px 24px;
      width: 80%;
      top: 0;
      margin: 0 auto;
      margin-bottom: 10px;
      z-index: 100;
      position: sticky;
      display: flex;
      justify-content: space-between;

      .set-items-box {
        display: flex;
        align-items: center;
        width: 100%;

        .set-list {
          width: 100%;
          overflow-x: scroll;
          overflow-y: hidden;
          display: flex;

          &.center {
            justify-content: center;
          }

          // &::-webkit-scrollbar {
          //   display: none;
          // }

          // -ms-overflow-style: none;
          // overflow: -moz-scrollbars-none;

          .set-item {
            flex: none;
            font-size: 18px;
            color: #7b7b7b;
            display: inline-block;
            margin-right: 50px;
            cursor: pointer;
            position: relative;
            // max-width: 130px;
            // white-space: nowrap;
            // overflow: hidden;
            text-overflow: ellipsis;
            height: 35px;
            padding: 0px 5px;

            &:last-child {
              margin-right: 0;
            }

            &.active {
              color: #000;

              &:after {
                content: '';
                position: absolute;
                bottom: 0px;
                left: 0;
                width: 100%;
                height: 2px;
                background-color: #3a3a3a;
              }
            }
          }
        }
      }

      .set-btns-box {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 185px;

        .btns-box {
          position: fixed;
          bottom: 10%;
          right: 10px;

          .btn {
            cursor: pointer;
            background-color: #222;
            padding: 17px;
            border-radius: 10px;
            margin-bottom: 10px;
          }

        }

        &.enabled-download {

          .fa-favorite-big-active,
          .fa-download-big,
          .fa-favorite-big {
            margin-right: 20px;
          }
        }
      }
    }

    .content {
      overflow: auto;
      padding: 20px;

      ul {
        list-style-type: inherit;

        li {
          list-style-type: inherit;
        }
      }
    }
  }

  .mask {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    z-index: 101;
    background: rgba(0, 0, 0, 0.3);
    pointer-events: none;
  }

  .photo-collapse-warp {
    padding-bottom: 30px;
  }

  .grid-container {
    padding: 0px 24px;
    flex-wrap: wrap;
    margin: 0 auto;

    .top-grid-warp {
      display: flex;
      flex-direction: column;
      align-items: center;

      .top-grid-item {
        position: relative;
        display: flex;
        width: 100%;
        height: 468px;
        margin-top: 10px;

        .image {
          object-fit: cover;
          width: 100%;
          height: 100%;
        }
      }
    }

    .grid-item {
      position: relative;
      width: 360px;
      height: 200px;
      margin-top: 10px;
      margin-right: 5px;
      margin-left: 5px;
      display: inline-block;
      overflow: hidden;

      .image {
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }

    .number {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      bottom: 0px;
      width: 50px;
      height: 50px;
      font-weight: 500;
      font-size: 30px;
      color: #FFFFFF;
      background: #98999A;
    }
  }


















  .owner-tips {
    color: #fff;
    font-size: 14px;
    line-height: 17px;
    background: #000;
    text-align: center;
    padding: 5px 0;
  }

  .cover-text-item {
    width: 100%;
    padding: 0 20px;
    text-align: center;
  }


  .countdown-box {
    position: absolute;
    font-size: 24px;
    z-index: 1;
    top: 120px;
    right: 32px;
    width: 60px;
    height: 60px;
    background: rgba(0, 0, 0, 0.2);
    color: #FFFFFF;
    border: 2px solid #FFFFFF;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .screen-btn-box {
    position: absolute;
    z-index: 1;
    bottom: 120px;
    width: 100%;
    display: flex;
    justify-content: center;

    .goto-btn {
      width: 400px;
      height: 100px;
      font-size: 36px;
      font-weight: 500;
      background: rgba(0, 0, 0, 0.5);
      border-radius: 57px;
    }
  }



  .no-photos {
    background-color: #fff;
    height: 1000px;
    color: #3a3a3a;
    margin-top: 450px;
    text-align: center;
    font-size: 28px;
    box-sizing: border-box;
  }

  .x-water-fall {
    margin: 10px 8px;
    box-sizing: border-box;

    .icon-list {
      position: absolute;
      display: flex;
      align-items: center;
      background: linear-gradient(to top, transparent 0, rgba(0, 0, 0, 0.5) 100%);
      padding-left: 10px;
      right: 8px;
      height: 53px;
      top: 8px;
      left: 8px;

      .fa-comment-white,
      .fa-download-small-white {
        width: 32px;
        height: 32px;
        margin-left: 15px;
      }
    }

    .recommend {
      position: absolute;
      left: 8px;
      bottom: 12px;
      width: 130px !important;
      height: auto;
    }
  }

  .favorite-image-viewer {
    background: #fff;
    z-index: -1;

    &.show {
      z-index: 1;
    }

    &.x-image-viewer-container-mobile {
      .image-viewer-body {
        top: 80px;
      }
    }

    .favorite-view-header {
      padding: 30px 30px 0;
      display: flex;
      align-items: center;
      justify-content: space-between;
      position: absolute;
      width: 100%;
      box-sizing: border-box;
      z-index: 1;

      .pagination-info {
        color: #000000;
        font-size: 26px;
      }

      .fa-icon {
        .text {
          color: #000000;
          font-size: 26px;
        }
      }

      .pull-right {
        .fa-comment {
          width: 32px;
          height: 32px;
          margin-left: 15px;
        }

        .fa-download-small {
          width: 32px;
          height: 32px;
          margin-left: 15px;
        }
      }
    }
  }
}