.couponInputField {
    input {
        width: 570px;
        height: 40px;
        box-sizing: border-box;
        font-weight: 400;
        font-size: 14px;
        color: #3A3A3A;
    }

    input::placeholder {
        font-weight: normal;
        font-size: 14px;
        color: rgba(58, 58, 58, 0.4);
    }

    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    input[type=number] {
        -moz-appearance: textfield;
    }
}