.store-form-setup-stripe {
  display: flex;
  flex-direction: column;
  row-gap: 32px;
  a.link {
    cursor: pointer;
    color: #0077cc;
  }

  &__item {
    &-label {
      width: 100%;
      height: 14px;
      font-size: 14px;
      font-family: 'Gotham SSm A', 'Gotham SSm B';
      font-weight: normal;
      color: #3a3a3a;
      line-height: 17px;
      margin-bottom: 16px;
    }
    input {
      width: 100%;
      height: 40px;
      box-sizing: border-box;
    }
    .Select {
      flex: 1;
    }
    .store-form-error {
      &__input {
        border: 1px solid #e92525;
      }
      &__message {
        color: #e92525;
        font-size: 12px;
      }
    }
  }
}
