// @import '../../../../static/styles/public/rem.scss';

.commodity-product-list-container {
  box-sizing: border-box;
  .commodity-product-list {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    .item {
      position: relative;
      width: 273px;
      cursor: pointer;
      margin-right: 17px;
      .img-wrppaer {
        width: 100%;
        height: 273px;
        background-color: #f6f6f6;
        display: flex;
        align-items: center;
        justify-content: center;
        img {
          max-width: 100%;
          max-height: 100%;
        }

        &.sold-out {
          opacity: 0.6;
          &::before {
            content: '已下架';
            display: block;
            position: absolute;
            font-size: 14px;
            font-weight: 500;
            color: #ffffff;
            width: 120px;
            height: 28px;
            background: #000000;
            border-radius: 18px;
            text-align: center;
            line-height: 28px;
          }
        }
      }
      .prod-name {
        color: #3a3a3a;
        font-size: 14px;
        text-align: center;
        margin-top: 18px;
        position: relative;
        width: 100%;
        // padding: 0 20px;
        box-sizing: border-box;
        overflow: hidden;
        .name-wrap {
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
          max-width: 250px;
          display: inline-block;
        }
        .edit {
          margin-bottom: 5px;
        }

        img {
          position: relative;
          cursor: pointer;
          margin-left: 5px;
          top: 1px;
        }
        .price {
          span {
            margin-left: 5px;
          }
        }
      }
      &:nth-child(4n) {
        margin-right: 0;
      }
    }
  }
}
