.ai_recognition_btn {
    position: fixed;
    z-index: 9;
    bottom: 252px;
    right: 36px;
    width: 80px;
    height: 80px;
    border-radius: 50%;

    // &:active {
    //     transform: scale(.95);
    // }

    .image {
        width: 100%;
        height: 100%;
    }
}