.print-store-tips-modal-wrap {
  width: 652px;
  display: flex;
  flex-direction: column;
  align-items: center;
  &.content {
    .icon-close {
      width: 26px;
      height: 26px;
      background-size: 26px;
    }
  }
  .modal-band-c {
    width: 40px;
    height: 40px;
    img {
      height: 100%;
      width: 100%;
    }
    margin-bottom: 20px;
  }

  .modal-title-c {
    width: 100%;
    text-align: center;
    font-size: 28px;
    font-weight: 500;
    color: #3a3a3a;
    line-height: 30px;
    margin-bottom: 32px;
    margin-top: 20px;
  }

  .modal-body-c {
    font-size: 26px;
    font-weight: normal;
    text-align: center;
    color: #3a3a3a;
    line-height: 40px;
    margin-bottom: 90px;
  }

  .modal-footer-c {
    height: 40px;
    text-align: center;
    //display: flex;
    //align-items: center;
    //justify-content: space-between;
    span {
      display: inline-block;
      line-height: 32px;
    }
    .button {
      font-size: 28px;
      font-weight: normal;
      color: #ffffff;
      line-height: 80px;
      text-align: center;
      width: 260px;
      height: 80px;
    }
  }
  &.print-store-offline-payment-modal {
    width: 590px;
    height: 550px;
  }
}
.download-restrictions-modal {
  width: 527px;
  height: 410px;
  .modal-title-c {
    text-align: left;
  }
  .modal-body-c {
    text-align: left;
    width: 100%;
  }
}
