.post-card-viewer {
  width: 100%;
  height: 100%;
  cursor: default;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin:  auto;
  //background: url("./icons/bg.jpg") no-repeat center center;
  background-size: 100% 100%;
  z-index: 1;
  .post-card-preview-wrapper {
    width: 100%;
    height: 100%;
    opacity: 0.8;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #101010;
    .preview-card-content {
      width: 426px;
      height: 285px;
      max-width: 550px;
      max-height: 470px;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      margin: auto;

      font-weight: 300;
      color: #ffffff;
      .card-header {
        position: relative;
        margin-bottom: 40px;
        .logo-content {
          position: absolute;
          top: 50%;
          width: 60px;
          height: 60px;
          border-radius: 50%;
          transform: translateY(-50%);
          left: -84px;
          background-color: #ffffff;
          img {
            width: 60px;
            height: 60px;
            border-radius: 50%;
          }
        }
        .card-detail {
          text-align: left;
          .card-name {
            font-size: 18px;
            line-height: 26px;
            margin-bottom: 8px;
          }
          .card-address {
            width: 130px;
            height: 28px;
            font-size: 14px;
            line-height: 26px;
            text-align: center;
            color: #222222;
            background-color: #fff;
            border-radius: 24px;
          }
        }
      }
      .card-introduction {
        .label {
          font-size: 18px;
          line-height: 26px;
          margin-bottom: 8px;
        }
        .introduction-content {
          font-size: 14px;
          line-height: 26px;
          padding-bottom: 4px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          border-bottom: 1px solid #ffffff;
        }
      }
      .contact {
        display: flex;
        justify-content: space-between;
        .left {
          .label {
            font-size: 18px;
            line-height: 26px;
            margin-bottom: 8px;
          }
          .weixin-account {
            margin-bottom: 8px;
          }
          .weixin-account, .weibo-account {
            span {
              display: inline-block;
            }
          }



          .account-icon {
            width: 22px;
            height: 18px;
            margin-right: 10px;
            vertical-align: middle;
          }
        }
        .right {
          .qr-code {
            width: 80px;
            height: 80px;
          }
        }

      }
    }
  }
  .play-button {
    position: absolute;
    display: flex;
    cursor: pointer;
    justify-content: center;
    top: 20px;
    right: 20px;
    color: #fff;
    z-index: 10;
    .play-icon {
      margin-right: 10px;
      background: url("./icons/play.png") no-repeat center center;
      background-size: 15px 20px;
      width: 15px;
      height: 20px;
      display: inline-block;
    }
  }
}