.credit-card-from-gallery-payment {
  width: 460px;
  box-sizing: border-box;
  margin: 60px auto;
  color: #3A3A3A;

  .label {
    width: 140px;
    text-align: left;
    font-size: 16px;
    line-height: 20px;
  }
  .row {
    display: flex;
    align-items: center;
    margin-bottom: 24px;
    &.card-number-container {
      .card-number {
        width: 314px;
        height: 40px;
        box-sizing: border-box;
        font-size: 16px;
        line-height: 20px;
        padding-left: 16px;
        border: 1px solid #D6D6D6;
        &.invalid {
          border: 1px solid red;
        }
      }
    }

    .expiration-month, .expiration-year, .cvv {
      width: 80px;
      height: 40px;
      box-sizing: border-box;
      border: 1px solid #D6D6D6;
      padding-left: 16px;
      &.invalid {
        border: 1px solid red;
      }
    }

    .line {
      display: inline-block;
      padding: 0 12px;
      font-size: 16px;
    }
  }
  .card-info {
    margin-top: 10px;

    > .card-input {
      min-width: 1px;
    }
  }

  .error-info {
    font-size: 14px;
    color: red;
  }

  .remember-credit-card {
    font-size: 14px;
    color: #7b7b7b;
    line-height: 19px;
    margin-top: 20px;
    display: flex;
    align-items: center;

    > input {
      width: 16px;
      height: 16px;
      display: inline-block;
      margin-right: 12px;
      -webkit-appearance: checkbox;
    }
  }
  .start-pro-button {
    width: 460px;
    margin: 60px auto 0;
    background-color: #3a3a3a;
    height: 48px;
    display: block;
    color: #fff;
    line-height: 48px;
    text-align: center;
    border: none;
    cursor: pointer;

    font-size: 20px;
    font-weight: 500;
    user-select: none;
  }
}
