.payment-success-page {
  .payment-success-page-content {
    color: #3a3a3a;
    padding: 3rem 0 2.25rem;
    background-color: #ffffff;
    
    .payment-success-title {
      font-size: 0.71rem;
      text-align: center;
    }
    .payment-success-subtitle {
      margin-top: 0.23rem;
      font-size: 0.31rem;
      font-weight: 300;
      text-align: center;
    }

    .payment-success-title-sub {
      margin-top: 0.23rem;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #222222;
      font-weight: 400;
      font-size: 16px;
      .item {
        margin: 0 20px;
        img {
          height: 20px;
          margin-right: 8px;
          vertical-align: middle;
        }
        .link-btn {
          cursor: pointer;
          color: #0077CC;
          margin-left: 20px;
        }
      }
    }
   
    .product-list{
      text-align: center;
      margin-top: 60px;

      img{
        width: 345px;
      }

      .mar-right-20{
        margin-right: 20px;
      }
    }
  }
}