$borderColor: #d8d8d8;

.zno-website-designer-page-presets-item {
  border: 1px solid $borderColor;

  &-preview {
    display: flex;
    align-items: center;
    width: 100%;
    height: 200px;
    overflow: hidden;
    border-bottom: 1px solid $borderColor;

    &>img {
      object-fit: cover;
      object-position: top;
      width: 100%;
      height: unset;
      max-height: 100%;
    }

  }

  &-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4px 8px;
  }

  &-name {
    cursor: pointer;
    margin-left: 16px;
    font-size: 14px;
  }

  &-options {
    display: flex;
    align-items: center;

    &>:not(:last-child) {
      margin-right: 4px;
    }


    &-icon {
      cursor: pointer;
      display: inline-block;
      width: 25px;
    }
  }
}
