.billing-pro-plan-modal {
  width: 600px !important;

  > .title {
    text-align: center;
    font-size:20px;
    color:#222222;
    line-height:24px;
  }

  .billing-pro-plan-modal-content {
    padding: 0 40px 1px;

  }
}