@import '../../../styles/rem';
.free-alert {
  height: 66px;
  border-bottom: 8px solid #f9f9f9;
  margin: 0 -24px;
  .content {
    box-shadow: 0px 2px 10px 0px #e5e5e5;
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #222222;
    height: 100%;
    > div {
      margin-left: 24px;
    }
    .btn {
      width: 124px;
      height: 32px;
      background-color: #c20200;
      border-radius: 1px;
      text-align: center;
      line-height: 32px;
      cursor: pointer;
      color: #ffffff;
    }
    .btn_1 {
      background-color: #0077cc;
    }
  }
}
.my-projects-header {
  height: 76px;
  border-bottom: 1px solid #e5e5e5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .title {
    font-size: 18px;
  }
  .btns {
    font-size: 14px;
    display: flex;
    .tutorialVideo {
      cursor: pointer;
      line-height: 32px;
      font-weight: 400;
      color: #0077cc;
      font-size: 14px;
    }
    .item {
      width: 124px;
      height: 32px;
      line-height: 32px;
      text-align: center;
      color: #222222;
      border: 1px solid #222222;
      border-radius: 2px;
      margin-left: 16px;
      cursor: pointer;
      &.black {
        background-color: #222222;
        color: #ffffff;
      }
    }
  }
}
.my-projects-container {
  overflow: hidden;
  //padding-left: 5rem;
  //padding-right: 5rem;
  background-color: #fff;
  //padding-left: rem(15px);

  .my-projects-cnpage-title {
    font-size: 40px;
    line-height: 48px;
    font-weight: 400;
    color: #262626;
  }

  .pagination-container {
    height: 20px;
    margin-top: 24px;
    text-align: right;
    margin-bottom: 24px;
  }

  .filter-container {
    margin-top: 26px;
    display: flex;
    justify-content: space-between;
    .group-item {
      display: inline-block;

      .select-label {
        font-size: 16px;
      }
      .select-label,
      .select-container {
        margin-top: 0;
        display: inline-block;
        vertical-align: middle;
      }
      .select-container {
        margin-left: 16px;
        width: rem(260px);
        .Select-control {
          border-radius: 0;
        }
        .Select.is-focused:not(.is-open) > .Select-control {
          border-color: #dbdbdb;
          box-shadow: none;
        }

        .Select-option {
          padding: 8px;
          font-size: 12px;
        }
        .Select-menu-outer {
          max-height: 500px;
          .Select-menu {
            max-height: 500px;

            .Select-option {
              height: 24px;
              line-height: 24px;
              padding: 0 8px;
            }
          }
        }
      }
    }

    .search-container {
      position: relative;
      display: inline-block;
      vertical-align: middle;
      width: rem(250px);
      height: 34px;
      border: 1px solid #dbdbdb;

      input.search-input {
        width: 100%;
        height: 100%;
        font-size: 12px;
        box-sizing: border-box;
        padding: 0 28px 0 8px;
        border: none;
      }
      .search-icon-container {
        position: absolute;
        width: 28px;
        height: 100%;
        right: 0;
        top: 0;
        cursor: pointer;
      }
      .search-icon {
        position: absolute;
        width: 12px;
        height: 12px;
        right: 8px;
        top: 50%;
        transform: translateY(-50%);
      }
    }

    .make-new-btn {
      margin-left: 3rem;
      min-width: 3rem;
      display: inline-block;
      text-align: center;
      a {
        display: inline-block;
        color: white;
        background: #3a3a3a;
        padding: 14px 27px;
      }
    }
  }

  .projects-content {
    position: relative;
    min-height: 350px;
    margin-top: 40px;

    .content-loading {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      text-align: center;

      .my-projects-loading {
        width: 100px;
        height: 100px;
        margin-top: 100px;
      }
    }

    .empty-project-list {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      padding-top: 100px;
      font-size: 14px;
      text-align: center;
      color: #3a3a3a;
      img {
        margin-bottom: 12px;
      }
    }
    .createNewProject {
      text-align: center;
      background-color: #222222;
      color: #ffffff;
      width: 124px;
      height: 32px;
      line-height: 32px;
      border: 1px solid #222222;
      border-radius: 2px;
      margin: auto;
      margin-top: 10px;
      margin-bottom: 10px;
      cursor: pointer;
    }
    .tutorialVideo {
      cursor: pointer;
      text-align: center;
      height: 18px;
      font-size: 14px;
      font-weight: 400;
      color: #0077cc;
    }
  }

  .share-modal {
    width: 550px;
  }
}

.limitToUse {
  .title {
    font-size: 18px;
    font-weight: 500;
  }
  .qrWrapper {
    img {
      width: 150px;
      margin: 20px 0;
    }
    .text {
      font-size: 16px;
      span {
        color: #c20200;
        font-size: 18px;
      }
    }
  }
}

.my-projects-container + .modals {
  .share-url-wrap {
    .copy-button {
      width: 50px;
    }
  }
}
