.Popup {
    height: 100%;
    position: fixed;
    top: 0;
    left: -7.67rem;
    z-index: 999;
    width: 7.67rem;
    background: #F6F6F6;
    box-shadow: 0px 2px 27px 0px rgba(0, 0, 0, 0.1);
    padding: 0.63rem 0;
    padding-right: 0;
    box-sizing: border-box;
    transition: all 0.4s ease-in-out;

    .title {
        font-size: 0.42rem;
        color: #3A3A3A;
        margin-bottom: 0.73rem;
        padding-left: 0.67rem;
    }

    .imgList {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        max-height: 100%;
        height: fit-content;
        overflow-y: scroll;
        padding-bottom: 3rem;
        box-sizing: border-box;
        padding-left: 0.5rem;

        .imgBoxContainer {}

        .active {
            border: 2px solid#0095FF;
        }

        .imgBox {
            margin-bottom: 0.25rem;
            margin-right: 0.2rem;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 2rem;
            box-sizing: border-box;

            height: 2rem;
            border-radius: 100%;
            overflow: hidden;

            .x-img-background {
                border-radius: 100%;
                width: 1.7rem;
                height: 1.7rem;
                cursor: pointer;
            }

            .loadingBox {
                position: relative;
                width: 1.7rem;
                height: 1.7rem;
                border-radius: 100%;
                border-radius: 50%;
                overflow: hidden;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: #ddd;

                img {
                    width: 100%;
                }
            }

            .mask {
                width: 1.7rem;
                height: 1.7rem;
                background-color: rgba(0, 0, 0, 0.6);
                z-index: 9;
                position: absolute;
                border-radius: 100%;
                top: 0px;
                left: 0px;
                display: flex;
                justify-content: center;
                align-items: center;
                // font-size: 14px;
                // color: #3A3A3A;
                text-align: center;
                color: #fff;
                cursor: pointer;
            }
        }

        .avatarName {
            text-align: center;
            margin: 0 auto 0.5rem;
            color: rgb(58, 58, 58);
            font-size: 0.33rem;
            width: 1.7rem;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            padding-right: 0.2rem;
        }
    }

    .bottom {
        padding-left: 0.67rem;
        position: absolute;
        bottom: 0;
        background-color: #F6F6F6;
        padding-top: 0.2rem;
        padding-bottom: 0.72rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: #3A3A3A;
        font-size: 0.29rem;
        z-index: 999;

        div {
            cursor: pointer;
        }

        .cancle {
            padding-left: 0.8rem;
            color: #C4C4C4;
        }

        .confirm {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 2.31rem;
            height: 0.96rem;
            background: #3A3A3A;
            font-size: 0.33rem;
            color: #FFFFFF;
            margin-left: 0.79rem;
        }
    }
}