.Preference {
  min-height: 500px;
  // margin-left: 20px;

  .dropdown-menu {
    width: 100%;
  }

  .title {
    font-size: 18px;
    font-weight: 500;
    color: #3A3A3A;
    margin-bottom: 17px;
  }

  .desc {
    margin-top: 22px;
    font-size: 12px;
    color: #7B7B7B;
  }

  .mydropdown {
    width: 825px;
    margin-left: 2px;

    .dropdown {
      width: 100%;
    }
  }
}